upstream app_servers {
    {% for i in range(1, instance_count + 1) %}
    server {{ container_name_prefix }}-{{ i }}:{{ container_port }};
    {% endfor %}
}

server {
    listen 80;
    server_name _;

    location / {
        proxy_pass http://app_servers;
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;
    }
}